[submodule "myply-melon-adapter"]
    path = packages/myply-melon-adapter
    url = https://github.com/rycont/myply-melon-adapter

[submodule "myply-spotify-adapter"]
    path = packages/myply-spotify-adapter
    url = https://github.com/rycont/myply-spotify-adapter
[submodule "packages/myply-genie-adapter"]
	path = packages/myply-genie-adapter
	url = https://github.com/rycont/myply-genie-adapter/
