@font-face {
    font-family: "KoddiUD OnGothic";
    src: local("KoddiUD OnGothic Bold");
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Bold.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "KoddiUD OnGothic";
    src: local("KoddiUD OnGothic Regular");
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}
